@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300&display=swap');


body{
    background-image: url(/list-icon-notebook-with-completed-todo-list-3d-render_471402-428.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Rajdhani', sans-serif;

}

.head{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

#result{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgba(24,24,27,0.6) ;
    border: 1px solid white;
    border-radius: 10px;
    width: 600px;
    color: bisque;
    padding: 12px;
    
}
#todo{
    width: 520px;
    border-radius: 2px;
    height: 20px;
}

h1{
    font-size: 55px;
}

.button{
    width: 100px;
    border-radius: 5px;
}