@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300&display=swap');

html {
    font-size: 10px;
}


body {
    background-image: linear-gradient(100deg, #575656, #062e3f);
    font-family: 'Rajdhani', sans-serif;
    padding-top: 10rem;
    
}

.head {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

#result {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgba(24, 24, 27, 0.6);
    border: 0.1rem solid white;
    border-radius: 1rem;
    width: 60rem;
    color: bisque;
    padding: 1.2rem;
    overflow: hidden;
    font-size: medium;

}

#todo {
    width: 52rem;
    border-radius: 1rem;
    height: 4rem;
    font-size: large;
    outline: none;
    background-color: floralwhite;

}

h1 {

    font-size: 5.5rem;

}

.button {
    width: 10rem;
    border-radius: 1rem;
    border: none;
    height: 5rem;
    color: floralwhite;
    background-color: black;
    box-shadow: inset 0 0 0 0 rgba(99, 99, 121, 0.6);
    transition: ease-out 0.5s;
    outline: none;
    cursor: pointer;
}

.button:hover {
    box-shadow: inset 10rem 0 0 0 rgba(99, 99, 133, 0.6);

}

/* .main{
    color: gray;
    border: 2px solid floralwhite;
    background-color: floralwhite;
} */


@media(max-width:998px) {
    html {
        font-size: 55%;
    }
}

@media(max-width:768px) {
    html {
        font-size: 45%;
    }
}

@media(max-width:668px) {
    html {
        font-size: 35%;
    }
    
}

@media(max-width:568px) {
    html {
        font-size: 35%;
    }
    #todo{
        height: 8rem;
        font-size: medium;
    }
    .button{
        height: 9rem;
    }
}

@media(max-width:468px) {
    html {
        font-size: 35%;
    }
    #todo{
        height: 8rem;
        font-size: medium;
    }
    .button{
        height: 9rem;
    }
}

@media(max-width:390px) {
    html {
        font-size: 30%;

    }
    #todo{
        height: 8rem;
        font-size: medium;
    }
    .button{
        height: 9rem;
    }
}


